<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include("../layout/adminside/navbar") %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <%- include("../layout/adminside/navbar") %>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <%- include("../layout/adminside/sidebar") %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                  <form action="" method="get" class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                      <input id="searchInput" type="text" name="query" value="<%= query || '' %>" class="form-control" placeholder="Search user by name" />
                      <button class="btn btn-info" type="submit" id="searchButton">Search by name</button>
                    </form>
              </li>
          </ul>
            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Offers</h4>
                   
                    <!-- Add Product Button -->
        <div class="mb-4">
          <a href="/admin//offer/create" class="btn btn-primary">Add Offers</a>
        </div>
                  <div class="table-responsive">
                    <% if(Offers.length){ %>
                    <table class="table table-striped">
                      <thead>
                        <tr  style="font-size:larger;font-family:'Times New Roman', Times, serif;font-weight: bold;">
                          <th>NO</th>
                          <th>Offer Name</th>
                          <th>Starting Date</th>
                          <th>Expaire Date </th>
                          <th>Expaire Date</th>
                          <th>Discount % </th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                         <tbody style="font-size:medium;font-family:'Times New Roman', Times, serif">
                          <% Offers.forEach((offer,i)=>{ %>
                           <tr>
                                 <td><%= i+1 %></td>
                                 <td> <%= offer.name %></td>
                                 <td>
                                  <%= offer.startingDate.toLocaleDateString() %>
                              </td>

                              <td>
                                  <%= offer.expiryDate.toLocaleDateString() %>
                              </td>
                              <td>
                                  <%= offer.expiryDate.toLocaleDateString() %>
                              </td>
                              <td>
                                <%= offer.discount %>
                            </td>
                            <td>
                                <%= offer.status %>
                                
                            </td>
                            <td>
                              <% if (offer.is_deleted===true) { %>
                                  <a href="/admin/offer/<%= offer._id %>/active-offer/"
                                      class="btn btn-success">Active</a>
                                  <% } else { %>
                                      <a href="/admin/offer/<%= offer._id %>/delete-offer/"
                                          class="btn btn-danger">Delete</a>
                                      <% } %>
                                          <a href="/admin/offer/<%= offer._id %>/Edit-offer/"
                                              class="btn btn-primary">Edit</i></a>

                          </td>     
                           </tr>
                       <%   }) %>
                         </tbody>
                    </table>
                    <% }else{ %>
                    <p>No Offers...!</p>
                      <% } %>
                  </div>
                </div>
              </div>
            </div>
          
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/admin/js/off-canvas.js"></script>
  <script src="/admin/js/hoverable-collapse.js"></script>
  <script src="/admin/js/template.js"></script>
  <script src="/admin/js/settings.js"></script>
  <script src="/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
