<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include("../layout/adminside/navbar") %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
             
        <%- include("../layout/adminside/settingspanel") %>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
         
      <%- include("../layout/adminside/sidebar") %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" action="/admin/product/Category-management" method="get">
                  <input type="text" class="form-control" name="search" placeholder="Search category">
                  <button class="btn-info">Search</button>
                </form>
              </li>
            </ul>
            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">CUSTOMERS</h4>
                  <div class="card-body">
                    <h4 class="card-title">PRODUCT CATEGORY</h4>
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title">All Category</h4>
                      <a href="/admin/product/add-category" class="btn btn-primary" >Add Category</a>
                     </div>
                  <div class="table-responsive">
                    <% if (categories.length) { %>
                    <table class="table table-striped">
                      <thead>
                        <tr  style="font-size: medium, Times, serif;font-weight: bold;color:black">
                          <th>NO</th>
                          <th>Images</th>
                          <th>Category Name</th>
                          <th>Description</th>
                          <th>Action</th>
                          <th>offer</th>
                        </tr>
                      </thead>
                      <tbody>
                         <% categories.forEach((category,i)=>{ %>
                                <tr style="font-size: medium, Times, serif;font-weight:500;color:gray">
                                  <td><%= i+1 %></td>
                                 <!-- ... -->
                                   <td>
                                    <img src="data:<%= category.image.contentType %>;base64,<%= category.image.data.toString('base64') %>" alt="<%= category.categoryName %> Image" style="width: 50px; height: 50px;">

                                  </td>
<!-- ... -->
                                  <td><%= category.categoryName%></td>
                                  <td><%= category.description%></td>
                                  <td>
                                    <a href="/admin/Category/<%= category._id %>/Delete" class="btn btn-danger">Delete</i></a>   
                                    <a href="/admin/Category/<%= category._id %>/Edit-Category" class="btn btn-primary">Edit</i></a>  
                                  </td>
                                           
                                    <td>
                                      <% if(category.offer){ %>
                                        <p class="text-success"><%= category.offer.name %></p>
                                        <% }else{ %>
                                         <p class="text-danger"> No offer</p>
                                          <% } %>
                                    </td>

                                                            
                                </tr>
                       <%  })  %>
                      </tbody>
                    </table>
                   <% } else { %>
                       <p>NO Categories</p>
                 <%  }  %>

                  </div>
                </div>
              </div>
      
              <nav aria-label="Page navigation">
                <ul class="pagination">
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                </ul>
              </nav>


            </div>
            
          
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/admin/js/off-canvas.js"></script>
  <script src="/admin/js/hoverable-collapse.js"></script>
  <script src="/admin/js/template.js"></script>
  <script src="/admin/js/settings.js"></script>
  <script src="/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
<!-- Add this section for pagination -->
<div class="pagination-container">
  <ul class="pagination" id="pagination"></ul>
</div>

<!-- ... your existing content ... -->

<!-- Update your script section to include pagination logic -->



</body>

</html>
