<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include("../layout/adminside/navbar") %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
             
        <%- include("../layout/adminside/settingspanel") %>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
         
      <%- include("../layout/adminside/sidebar") %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" action="/admin/customers" method="get">
                  <input type="text" class="form-control" name="search" placeholder="Search users">
                  <button class="btn-info">Search</button>
                </form>
              </li>
            </ul>
            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">CUSTOMERS</h4>
                 
                  <div class="table-responsive">
                    <% if (users.length) { %>
                    <table class="table table-striped">
                      <thead>
                        <tr style="font-size: medium, Times, serif;font-weight: bold;color:black">
                          <th>No</th>
                          <th>images</th>
                          <th>Name</th>
                          <th>Mobile</th>
                          <th>Email</th>
                          <th>Status</th>
                          <th>action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% users.forEach((user, i)=> { %>
                        <tr>
                          <th> <%= i+1 %></th>
                          <td> <img src="/admin/images/kisspng-computer-icons-user-profile-person-5abd85306ff7f7.0592226715223698404586.jpg" alt="image" /></td>
                          <td style="font-size: medium, Times, serif;font-weight:500;color:gray"><%= user.name %></td>
                          <td style="font-size: medium, Times, serif;font-weight:500;color:gray"><%= user.mobile %></td>
                          <td style="font-size: medium, Times, serif;font-weight:500;color:gray"><%= user.email %></td>
                     <!--if User Block then this display -->
                        <% if (user.is_block === true) { %>
                          <td>
                            <p class="text-danger">Deactive</p>
                          </td>
                          <td>
                            <a href="/admin/Customers/Unblock-theUser?id=<%= user._id %>" class="btn btn-success">Unblock</a>

                          </td>
                        <% } else if (user.is_block === false) { %>
                          <td>
                            <p class="text-success">Active</p>
                          </td>
                          <td>
                            <a href="/admin/Customers/block-theUser?id=<%= user._id %>" class="btn btn-danger">Block</i></a>
                          </td>
                        </tr>
                        <% } %>
                        <% }) %>
                      </tbody>
                    </table>
                 
                    <% } %>
                  </div>
                </div>
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                      <% for (let i = 1; i <= totalPages; i++) { %>
                          <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                          </li>
                      <% } %>
                  </ul>
                </nav>
              </div>
            </div>
          
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/admin/js/off-canvas.js"></script>
  <script src="/admin/js/hoverable-collapse.js"></script>
  <script src="/admin/js/template.js"></script>
  <script src="/admin/js/settings.js"></script>
  <script src="/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
